// ------------------------------------------
//  COLORS
// ------------------------------------------

$white          :   #ffffff;
$black          :   #000;
$grey           :   #ccc;
$light-grey     :   #f1f1f1;
$dark-grey      :   #757575;
$red            :   #ff6961;

// ------------------------------------------
//  BREAKPOINTS
// ------------------------------------------

$brkpoint-md : '(min-width: 768px)';
$brkpoint-lo : '(max-height: 619px)';

// ------------------------------------------
//  CONTAINER WIDTHS
// ------------------------------------------

$cont-width-md : 750px;
