// ------------------------------------------
//  COLORS
// ------------------------------------------

$white          :   #ffffff;
$black          :   #000;
$grey           :   #ccc;
$light-grey     :   #f1f1f1;
$red            :   #ff6961;

// ------------------------------------------
//  BREAKPOINTS
// ------------------------------------------

$brkpoint-sm : '(min-width: 576px)';
$brkpoint-md : '(min-width: 768px)';
$brkpoint-lg : '(min-width: 992px)';
$brkpoint-xl : '(min-width: 1330px)';
$brkpoint-lh : '(max-height: 619px)';

// ------------------------------------------
//  CONTAINER WIDTHS
// ------------------------------------------

$cont-width-sm : 560px;
$cont-width-md : 750px;
$cont-width-lg : 970px;
$cont-width-xl : 1200px;
