// Only show on screens at least 768px wide.
.md-only {
    display: none!important;

    @include mq(medium) {
        display: flex!important;
    }
}

// Only show on screens up to 767px wide.
.sm-only {
    display: block;

    @include mq(medium) {
        display: none!important;
    }
}
