@mixin mq($break) {
    @if $break == "medium" { @media #{$brkpoint-md} { @content; } }
    @else if $break == "low-height" { @media #{$brkpoint-lh} { @content; } }
}

@mixin flex($flex-direction: null, $align-items: null, $justify-content: null, $flex-wrap: null) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
}

@mixin text($font-size: null, $text-align: null, $color: null, $line-height: null) {
    font-size: $font-size;
    text-align: $text-align;
    color: $color;
    line-height: $line-height;
}

@mixin button($color: null, $background-color: null, $hover-color: null) {
    color: $color;
    background-color: $background-color;
    &:hover { background-color: $hover-color; }
}
