// Default button.
%button {
    display: inline-block;
    border: none;
    text-align: center;
    padding: 12px 24px;
    overflow: hidden;
    cursor: pointer;

    // Add space between title and icon.
    i { margin-left: 5px; }
}
