.accounts_wrapper {
    @include flex(column);
    width: 100%;

    select, input, button {
        margin-bottom: 15px;
    }
}

.accounts_new {
    @include flex(column);
    display: none;
}

.accounts_buttons {
    .button { width: 100%; }
}

.accounts_error {
    display: none;
    color: $white;
    background-color: $red;
    text-align: center;
    padding: 12px;
    margin-bottom: 15px;
}
