.accounts_wrapper {
    @include flex(column);
    width: 100%;

    @include mq(medium) {
        select {
            margin-top: 3px;
        }
    }

    select, input, button {
        margin-bottom: 15px;
    }
}

.accounts_new {
    @include flex(column);
    display: none;

    @include mq(medium) {
        flex-direction: row;
        //justify-content: space-between;

        .text-field {
            width: 50%;
            margin-right: 15px;
        }
    }
}

.accounts_buttons {
    .button { width: 100%; }

    @include mq(medium) {
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        
        :nth-child(2) {
            margin-right: 15px;
        }
    }
}
