.container {
    max-width: 400px;
    margin: 0px auto;
    padding: 0px 15px;
}

.content_main, .content_library {
    @include flex(column, center, center);
    height: 100vh;
}

.content_library {
    display: none;
}
