.container {
    max-width: 400px;

    // Center and indent content.
    padding: 0px 15px;
    margin: 0px auto;

    // Increase max width depending on screen size.
    @include mq(medium) { max-width: $cont-width-md; }
    @include mq(large) { max-width: $cont-width-lg; }
    @include mq(x-large) { max-width: $cont-width-xl; }
}
