.container {
    max-width: 400px;

    // Center and indent content.
    padding: 0px 15px;
    margin: 0px auto;

    // Increase max width on screens at least 768px wide.
    @include mq(medium) { max-width: 800px; }
}
