.container {
    width: 100%;
    max-width: 520px;
    margin: 0px auto;
    padding: 0px 15px;

    @include mq(medium) {
        width: 97%;
        max-width: 1410px;
    }
}

.content {
    @include flex(column, center, center);
    height: 100vh;
}
