.content, .content_wrapper, .content_heading {
    @include flex(column, center, center);
}

// Keep page contents within viewport height.
.content {
    height: 100svh;
}

.content_wrapper {
    width: 100%;

    // Show library and main side by side on screens at least 768px wide.
    @include mq(medium) {
        flex-direction: row;
    }
}

// Adjust margins to position headings higher up.
.content_heading {
    h1, p { margin-top: 0px; }
    p { margin-bottom: 30px; }
}
