.image_wrapper {
    @include flex(column);
    width: 100%;

    // Add spacing between image elements.
    div { margin-bottom: 15px; }
}

.image_box {
    // Make image fill container and add black border.
    img {
        display: block;
        width: 100%;
        border: 1px solid $black;

        // Make background color white so placeholder image is visible.
        background-color: $white;
    }

    // Decrease image height on screens up to 619px high.
    @include mq(low) {
        height: 138px;

        // Center image and add black bars to both sides.
        text-align: center;
        background-color: $black;

        // Make image stay within container and keep aspect ratio.
        img {
            display: inline-block;
            height: 100%;
            width: auto;
            max-width: 100%;
            border: none;
        }
    }
}

// Put buttons side by side take up equal space.
.image_buttons {
    @include flex(row);
    .button { width: 50%; }
}
