.picture_wrapper {
    @include flex(column);
    width: 100%;

    div {
        margin-bottom: 15px;
    }
}

.picture_box {

    position: relative;
    background-color: $white;

    img {
        display: block;
        width: 100%;
        border: 1px solid $black;
    }

    @include mq("low-height") {
        height: 138px;
        text-align: center;
        background-color: $black;

        img {
            display: inline-block;
            height: 100%;
            width: auto;
            max-width: 100%;
            border: none;
        }
    }
}

.picture_buttons {
    @include flex(row, $flex-wrap: wrap);
    .button { width: 50%; }
}

.placeholder {

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
