.select-menu, .text-field {
    line-height: 1.5;
    padding: 16px 8px;
    border: 1px solid $grey;

    // Override default browser focus style.
    &:focus {
        outline: none;
        border-color: $black;
        box-shadow: inset 0 0 0 1px $black;
    }
}

// Prevent long emails from stretching select menu.
.select-menu {
    width: 100%;
}

// Highlight text field when errors are found.
.error {
    border-color: $red;
}
